.img {
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 5px;
}

.carousel {
    margin-bottom: 10px;
}

.carousel-container {
    margin-top: 5px;
}

.footer {
    background-color: black;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    p {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 0px;
        text-align: left;
    }
    .footerRight {
        text-align: right;
    }
    .footerCenter {
        text-align: center;
    }
}

.headline {
    margin-bottom: 0px;
}

.modal-content {
    img {
        .img;
    }
    .caption {
        padding-left: 5px;
        padding-right: 5px;
    }
    padding: 5px;
}

.modal-lg {
    width: 95%;
}



.panelHeader {
    margin-top: 0px;
}

.masterRow {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.identity {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.cardContent {
    display: none;
}

.masterRow > div {
    padding-left: 0px;
    padding-right: 0px;
}
.thumbnail {
    height:100%;
    padding-left: 5px;
    padding-right:5px;
    img{border: 2px solid #dddddd;}
}
.caption{
    height: 100%;
}
.panel-title{
    padding-left:5px;
}
.panel-body{
    padding-left:5px!important;
    padding-right:5px!important;
    padding-bottom: 5px!important;
}
a:hover, a:focus {
    text-decoration: none!important;
}
/* Media Queries */

@media screen and (max-width: 768px) {
    .skills {
        margin: 0px;
    }
    .footer p {
        text-align: center!important;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .masterRow,
    .footer {
        display: none!important;
    }
    .card {
        height: 100vh;
        padding: 15px 0px;
    }
    .header {
        border-style: inset;
        border-width: 2px;
        border-radius: 25px;
        padding: 0px 15px;
        height: 100%;
        box-shadow: 5px 5px 10px #888888;
    }
    .headline {
        margin-top: 0px;
    }
    .cardContent {
        bottom: 0;
        margin-right: 15px!important;
        margin-bottom: 10px;
        :nth-child(even) {
            text-align: right;
        }
        display: block;
        position: absolute;
    }
    .identity {
        margin-top: 5%;
    }
}

@media (max-width: 425px) {
    .skills {
        display: none;
    }
}

@media all and (orientation: portrait) {
    .cardContent {
        display: none;
    }
}
